{% extends 'admin-base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('main_page') }}">Главная</a>
        </li>
        <li class="breadcrumb-item active">Пользователи</li>
    </ol>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('primary') %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Пользователи     <a href="{{ path('create_user')}}"><button class="btn btn-success btn-sm">Создать пользователя</button></a></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Ник</th>
                        <th>Почта</th>
                        <th>Стутус</th>
                        <th scope="col">Дата регистрации</th>
                        <th>Управление</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td><span class="{{ user.status|statusClass(user.status) }}">{{ user.status|statusText(user.status) }}</span></td>
                        <td>{{ user.createdAt|date("m/d/Y") }}</td>
                        <td>
                            <a href="{{ path('view_user', {'id': user.id}) }}"><button class="btn btn-info btn-sm"><i class="fas fa-eye"></i></button></a>
                            <a href="{{ path('edit_user', {'id': user.id}) }}"><button class="btn btn-success btn-sm"><i class="fas fa-pen"></i></button></a>
                            <a href="{{ path('delete_user', {'id': user.id}) }}"><button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
{% endblock %}