{% extends 'admin-base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('main_page') }}">Главная </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('all_users') }}">Пользователи</a>
        </li>
        <li class="breadcrumb-item active">{{ user.fullname }}</li>
    </ol>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('primary') %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}


    <table class="table">
    <thead>
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Ник</th>
        <th scope="col">Почта</th>
        <th scope="col">Статус</th>
        <th scope="col">Дата регистрации</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ user.fullname }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td><span class="{{ user.status|statusClass(user.status) }}">{{ user.status|statusText(user.status) }}</span></td>
        <td>{{ user.createdAt|date("m/d/Y") }}</td>
    </tr>
    </tbody>
    </table>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('edit_user', {'id': user.id}) }}"><button class="btn btn-success">Редактировать</button></a>
        <a href="{{ path('delete_user', {'id': user.id}) }}"><button class="btn btn-danger">Удалить</button></a>
    {% endif %}
{% endblock %}