{% extends 'main-page.html.twig' %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Корзина</li>
                    </ol>
                </nav>
            </div>
        </div>
        <h4 id="allProductCount">Количество товаров: {{ items|length }}</h4>
        <div class="card shopping-cart">
            <div class="card-body" id="divProduct">

                <!-- PRODUCT -->
                {% for item in items %}
                    <div class="row mb-3">

                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <a href="{{ path('show_one_product', {'id':item.product.id}) }}">
                                <img class="img-responsive"
                                 src="{{ asset('upload/product/' ~ item.product.id|getPhoto(item.product.id)) }}"
                                     alt="prewiew" width="120" height="80">
                            </a>
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name">
                                <a href="{{ path('show_one_product', {'id':item.product.id}) }}" style="color: black;">
                                    <b>
                                        {{ item.product.id|getProduct(item.product.id).title }}
                                    </b>
                                </a>
                            </h4>
                            <h4>
                                <small>{{ item.product.id|getProduct(item.product.id).description|slice(0, 100) }}</small>
                            </h4>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong id="price{{ item.id }}"
                                            value="{{ item.pricePerItem }}">{{ item.pricePerItem * item.quantity }}
                                        ₽</strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="button" value="+" class="plus"
                                           onClick="changeUp('amount'+{{ item.id }},1,100, 1, 'price'+{{ item.id }}, {{ item.id }});">
                                    <input type="number" id="amount{{ item.id }}" step="1" max="99" min="1"
                                           value="{{ item.quantity }}" title="Qty" class="qty" size="4">
                                    <input type="button" value="-" class="minus"
                                           onClick="changeDown('amount'+{{ item.id }},1,100,-1, 'price'+{{ item.id }}, {{ item.id }});">
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button type="button" class="btn btn-outline-danger btn-xs" onclick="deleteProductFromBasket({{ item.id }})">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                            <a href="#" class="btn btn-success mt-3 btn-sm"><i class="fas fa-money-bill-alt"></i> Купить</a>

                        </div>
                    </div>
                    <hr>
                {% endfor %}
                {#                </div>#}
                <!-- END PRODUCT -->
                <div class="pull-right">
                    <a onclick="updatePage()" class="btn btn-outline-secondary pull-right">
                        Обновить
                    </a>
                </div>
            </div>
            <div class="card-footer" id="divAllSum">
                <div class="pull-right" style="margin: 10px">
                    <div class="pull-right" style="margin: 5px">
                        Общая сумма: <b>{{ items|sum(items) }} ₽</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax/basket.js') }}"></script>
    <script>
        function changeUp(objName, min, max, step, priceId, basketId) {
            var obj = document.getElementById(objName);
            var tmp = +obj.value + step;
            if (tmp < min) tmp = min;
            if (tmp > max) tmp = max;
            obj.value = tmp;
            obj.setAttribute('quantity', obj.value);

            upQuantity(basketId, 1);
        }

        function changeDown(objName, min, max, step, priceId, basketId) {
            var obj = document.getElementById(objName);
            var tmp = +obj.value + step;
            if (tmp < min) tmp = min;
            if (tmp > max) tmp = max;
            obj.value = tmp;
            obj.setAttribute('quantity', obj.value);

            upQuantity(basketId, -1);
        }

        function updatePage() {
            $("#divProduct").load(" #divProduct > *");
            $("#divAllSum").load(" #divAllSum > *");
            $("#allProductCount").load(" #allProductCount > *");
        }

        function upQuantity(basketId, quantity) {
            that = $(this);
            var url = "/basket/up/" + basketId + "/" + quantity;
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: {
                    "data": "some_var_value"
                },
                async: true,
                success: function () {
                    $("#divProduct").load(" #divProduct > *");
                    $("#divAllSum").load(" #divAllSum > *");
                }
            });
            return false;
        }

        function deleteProductFromBasket(basketId) {
            that = $(this);
            var url = "/basket/delete/" + basketId;
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: {
                    "data": "some_var_value"
                },
                async: true,
                success: function () {
                    $("#divProduct").load(" #divProduct > *");
                    $("#divAllSum").load(" #divAllSum > *");
                    $("#allProductCount").load(" #allProductCount > *");
                }
            });
            return false;
        }
    </script>
{% endblock %}