{% extends 'admin/main-page.html.twig' %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ path('main_page') }}">Главная </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('view_all_products') }}">Товары</a>
    </li>
    <li class="breadcrumb-item active">Создать товар</li>
</ol>

    {{ form_start(form) }}

    {{ form_row(form.title, {'label': 'Имя товара'}) }}
    {{ form_row(form.description, {'label': 'Описание товара'}) }}
    {{ form_row(form.price, {'label': 'Цена'}) }}

    <div class="col-sm-12 col-sm-offset-12" id="exp_list" data-prototype="{{ form_widget(form.modification.vars.prototype)|e('html_attr') }}">
        <div class="card mb-3">
            <div class="card-body" style="background-color: #f0f0f0">
                <h4 class="card-title">Создание модификации для товара</h4>
                {% for mod in form.modification %}
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <strong>{{ form_row(mod.title, {'label': 'Имя модификации товара'}) }}</strong>
                        </div>
                        <div class="panel-body">
                            {{ form_row(mod.text, {'label': 'Описание модификации'}) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-sm-offset-12" id="exp_list2" data-prototype="{{ form_widget(form.modification.vars.prototype)|e('html_attr') }}">
        <div class="card mb-3">
            <div class="card-body" style="background-color: #f0f0f0">
                <h4 class="card-title">Прикрепить метку к товару</h4>
                {% for tag in form.tag %}
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <strong>{{ form_row(tag.tag_id, {'label': 'Метка'}) }}</strong>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-sm-offset-12" id="exp_list2" data-prototype="{{ form_widget(form.modification.vars.prototype)|e('html_attr') }}">
        <div class="card mb-3">
            <div class="card-body" style="background-color: #f0f0f0">
                <h4 class="card-title">Добавить картинку к товару</h4>
                {% for photo in form.photo %}
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <strong>{{ form_row(photo.name, {'label': 'Картинка'}) }}</strong>
                        </div>
                    </div>
                    <div>
                        <img src="" alt="" id="avatar" style="width: 300px">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/photo/avatar.js') }}"></script>

{% endblock %}