{% extends 'admin/main-page.html.twig' %}

{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ path('main_page') }}">Главная </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('all_users') }}">Пользователи</a>
    </li>
    <li class="breadcrumb-item active">Создать</li>
</ol>

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}

    {{ dump(form) }}

    <h3>Модификации</h3>
    <ul class="tags">
{#        {% for row in form.modification %}#}
{#            <li>{{ form_row(modif.title) }}</li>#}
{#            <li>{{ form_row(modif.text) }}</li>#}
{#        {% endfor %}#}
    </ul>

    {{ form_end(form) }}

{% endblock %}