{% extends 'admin-base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('main_page') }}">Главная</a>
        </li>
        <li class="breadcrumb-item active">Товары</li>
    </ol>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('primary') %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}

    <!-- DataTables Example -->
    <div class="card mb-3" id="deleteProduct">
        <div class="card-header">
            <a href="{{ path('create_product') }}"><button class="btn btn-success btn-sm">Создать товар</button></a></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Цена</th>
                        <th scope="col">Дата регистрации</th>
                        <th>Управление</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ product.title }}</td>
                            <td>{{ product.description|slice(0, 50) }}...</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.createdAt|date("m/d/Y") }}</td>
                            <td>
                                <a href="{{ path('view_one_product', {'id': product.id}) }}"><button class="btn btn-info btn-sm"><i class="fas fa-eye"></i></button></a>
{#                                <a href="{{ path('edit_product', {'id': product.id}) }}"><button class="btn btn-success btn-sm"><i class="fas fa-pen"></i></button></a>#}
                                <button class="btn btn-danger btn-sm" onclick="deleteProduct({{ product.id }})">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax/product.js') }}"></script>
{% endblock %}