{% extends "admin/main-page.html.twig" %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('main_page') }}">Главная</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('view_all_products') }}">Товары</a>
        </li>
        <li class="breadcrumb-item active">{{ product.title }}</li>
    </ol>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('primary') %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Цена</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>
                <button class="btn btn-success btn-sm"
                        data-toggle="modal" data-target="#productEditFormModal">
                    <i class="fas fa-pen"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Modal product -->
    <div class="modal fade" id="productEditFormModal" tabindex="-1" role="dialog"
         aria-labelledby="productEditFormModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content formCreateTag">
                <div class="modal-header">
                    <h5 class="modal-title" id="productEditFormModalLabel">Редактировать товар</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(editProductForm) }}
                    {{ form_row(editProductForm.title, {'label': 'Название'}) }}
                    {{ form_row(editProductForm.description, {'label': 'Описание'}) }}
                    {{ form_row(editProductForm.price, {'label': 'Цена'}) }}
                    {{ form_end(editProductForm) }}
                </div>
            </div>
        </div>
    </div>
    <br>


    <div class="card mb-3" id="divMod">
        <div class="card-body">
            <h4 class="card-title">Категория товара</h4>
            <div class="panel panel-warning">
                <div class="panel-body">
                    {{ form_start(categoryForm) }}
                    {{ form_row(categoryForm.product, {'label':  product.category.title ~ ' - текущая категория' }) }}
                    {{ form_end(categoryForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" id="divMod">
        <div class="card-body">
            <h4 class="card-title">Характеристики товара</h4>
            <div class="panel panel-warning">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Переместить</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mod in modifications %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ mod.title }}</td>
                                <td>{{ mod.text }}</td>
                                <td>
                                    <button class="btn btn-light btn-sm"
                                            onclick="upModification({{ app.request.get('id') }}, {{ mod.id }})">
                                        <i class="fas fa-arrow-up"></i>
                                    </button>
                                    <button class="btn btn-light btn-sm"
                                            onclick="downModification({{ app.request.get('id') }}, {{ mod.id }})">
                                        <i class="fas fa-arrow-down"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" onclick="deleteMod({{ mod.id }})">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                    data-target="#specificationsFormModal">
                Добавить характеристику
            </button>
        </div>
    </div>
    <!-- Characteristic Modification -->
    <div class="modal fade" id="specificationsFormModal" tabindex="-1" role="dialog"
         aria-labelledby="specificationsFormModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content formCreateTag">
                <div class="modal-header">
                    <h5 class="modal-title" id="specificationsFormModalLabel">Добавить характеристику</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(modificationForm) }}
                    {{ form_row(modificationForm.title, {'label': 'Название'}) }}
                    {{ form_row(modificationForm.text, {'label': 'Описание'}) }}
                    {{ form_end(modificationForm) }}
                </div>
            </div>
        </div>
    </div>



    <div class="card mb-3" id="divChoice">
        <div class="card-body">
            <h4 class="card-title">Модификации товара</h4>
            <div class="panel panel-warning">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Модификация</th>
                            <th scope="col">Переместить</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for choice in choices %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ choice.content }}</td>
                                <td>
                                    <button class="btn btn-light btn-sm"
                                            onclick="upChoice({{ app.request.get('id') }}, {{ choice.id }})">
                                        <i class="fas fa-arrow-up"></i>
                                    </button>
                                    <button class="btn btn-light btn-sm"
                                            onclick="downChoice({{ app.request.get('id') }}, {{ choice.id }})">
                                        <i class="fas fa-arrow-down"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" onclick="deleteChoice({{ choice.id }})">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#choicesFormModal">
                Добавить модификацию
            </button>
        </div>
    </div>
    <div class="modal fade" id="choicesFormModal" tabindex="-1" role="dialog" aria-labelledby="choicesFormModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content formCreateTag">
                <div class="modal-header">
                    <h5 class="modal-title" id="choicesFormModalLabel">Добавить модификацию</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(choiceForm) }}
                    {{ form_row(choiceForm.content, {'label': 'Модификация'}) }}
                    {{ form_end(choiceForm) }}
                </div>
            </div>
        </div>
    </div>



    <div class="card mb-3" id="divTag">
        <div class="card-body">
            <h4 class="card-title">Метки для товара</h4>
            <div class="panel panel-warning">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название</th>
                            <th scope="col">Перемещение</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tag in tags %}
                            <tr id="{{ path('delete_tag_modal', {'id': tag.id}) }}">
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ tag.tagId|getTag(tag.tagId) }}</td>
                                <td>
                                    <button class="btn btn-light btn-sm"
                                            onclick="upTag({{ app.request.get('id') }}, {{ tag.id }})">
                                        <i class="fas fa-arrow-up"></i>
                                    </button>
                                    <button class="btn btn-light btn-sm"
                                            onclick="downTag({{ app.request.get('id') }}, {{ tag.id }})">
                                        <i class="fas fa-arrow-down"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" onclick="deleteTag({{ tag.id }})">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tagFormModal">
                Прикрепить метку
            </button>
            <a href="{{ path('create_tag') }}" class="btn btn-success pull-right btn-sm">Созадть новые метки</a>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="tagFormModal" tabindex="-1" role="dialog" aria-labelledby="tagFormModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content formCreateTag">
                <div class="modal-header">
                    <h5 class="modal-title" id="tagFormModalLabel">Создать метку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(tagForm, {'attr': {'class': 'formCreateTag'}}) }}
                    {{ form_row(tagForm.tag_id, {'label': 'Доступные метки'}) }}
                    {{ form_end(tagForm) }}
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3" id="div">
        <div class="card-body">
            <h4 class="card-title">Картинки товара</h4>
            <div class="row text-center text-lg-left">

                {% for photo in photos %}
                    <div class="col-lg-3 col-md-4 col-6 photos" id="{{ path('delete_photo', {'id': photo.id}) }}">
                        <img class="img-fluid img-thumbnail" id="photo{{ photo.id }}"
                             src="{{ asset('upload/product/' ~ photo.name) }}"
                             alt="">
                        <button class="btn btn-danger btn-sm"
                                style="margin-top: 7px; margin-bottom: 20px;"
                                onclick="deletePhoto({{ photo.id }})">
                            <i class="fas fa-trash-alt"></i>
                        </button>

                        <button class="btn btn-light btn-sm"
                                style="margin-top: 7px; margin-bottom: 20px;"
                                onclick="upPhoto({{ app.request.get('id') }}, {{ photo.id }})">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                        <button class="btn btn-light btn-sm"
                                style="margin-top: 7px; margin-bottom: 20px;"
                                onclick="downPhoto({{ app.request.get('id') }}, {{ photo.id }})">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                {% endfor %}
            </div>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#photoFormModal">
                Загрузить картинку
            </button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="photoFormModal" tabindex="-1" role="dialog" aria-labelledby="photoFormModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content formCreateTag">
                <div class="modal-header">
                    <h5 class="modal-title" id="photoFormModal">Загрузить картинку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(photoForm) }}
                    {{ form_row(photoForm.name, {'label': 'Картинки'}) }}
                    {{ form_end(photoForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax/product.js') }}"></script>
{% endblock %}